# Phakdichumpolhospital
# MySQL Config (my.cnf) for MaraiDB 10.x.x
# For Docker For Web
# Modify by Likit phakdeehos@gmail.com 2020-11
# Version 2023-08
###############################################################################

[client]
port		= 3306
socket		= /var/lib/mysql/mysql.sock
# The MariaDB server

[mysqld]

init-connect='SET NAMES utf8'
character-set-server = utf8
collation-server = utf8_general_ci
unix_socket=OFF
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

# ********** generic configuration options **********
log-error = /var/lib/mysql/mariadb10.err
port		= 3306
socket		= /var/lib/mysql/mysql.sock
back_log = 2048 ## Default 50 ##### Command to check backlog is 
                ## Check with command # /sbin/sysctl net.ipv4.tcp_max_syn_backlog
                ## net.ipv4.tcp_max_syn_backlog = 1024
                ## echo "net.ipv4.tcp_max_syn_backlog=2048" >> /etc/sysctl.conf
                
max_connections = 500               #Default 151
max_connect_errors = 1000000
table_open_cache = 4096             #Default 2000 Range: 1 to 1048576 (1024K)
table_definition_cache = 50000      #Range: 400 to 524288 
max_allowed_packet = 1024M          #Default 1048576  Range: 1024-1073741824 Limit 1 GB
binlog_cache_size = 1M            #Default Value: 32768 Range - 64 bit: 4096 to 18446744073709547520 
max_heap_table_size = 1024M         #Default 16777216 Range : 16384 to 4294966272 
tmp_table_size = 1024M              #Default Value: 16777216 (16MB) Range: 1024 to 4294967295 
read_buffer_size = 2147479552       #Default Value: 131072  Range: 8200 to 2147479552 
read_rnd_buffer_size = 16M	    #Default Value: 262144  Range: 8200 to 2147483647 Values around 16MB often make sense 
sort_buffer_size = 1M               #Default Value: 2M (2097152) Values around 1MB are good default
join_buffer_size = 8M               #Default Value: 262144 (256kB)  8MB can be reasonable value 
thread_cache_size = 100             #Default 0 Range: 0 to 16384 
query_cache_type = 2                #Valid Values: 0 or OFF, 1 or ON, 2 or DEMAND 
query_cache_size = 512M             #Valid Values: 0 upwards in units of 1024. Do not set over 512 MB 
query_cache_limit = 4M           #Default Value: 1048576 (1MB)Range: 0 to 4294967295
query_cache_min_res_unit = 2k 
ft_min_word_len = 4                 #Default Value: 4 
default-storage-engine = InnoDB
thread_stack = 512K                 #Range: 131072 to 18446744073709551615 
transaction_isolation = REPEATABLE-READ
binlog_format=mixed
slow_query_log                      #Default Value: 0 
long_query_time = 2                 # If a query takes longer than this many seconds to execute 
                                    #the Slow_queries status variable is incremented and, if enabled,
                                    #the query is logged to the slow query log. 
concurrent_insert = ALWAYS
tmpdir = /tmp
log_bin_trust_function_creators = 1     #Default Value: OFF 
     
thread_handling = pool-of-threads
net_read_timeout=28800
connect_timeout=28800
wait_timeout=31536000  
interactive_timeout=28800

lower_case_table_names=1
skip-name-resolve
skip-character-set-client-handshake
skip-external-locking
# **********End  General Config **********


# ********** MyISAM Specific options **********

key_buffer_size = 32M               #Default Value: 134217728
                                    #Range: 8 upwards (upper limit determined by operating system per process limit) 
                                    #Do not set it larger than 30% of your available memory.  
                                    #Even if you're not using # MyISAM tables, you should still set it to 8-64M

bulk_insert_buffer_size = 64M       #Default Value: 8388608  Range - 64 bit: 0 to 18446744073709547520   
myisam_sort_buffer_size = 128M      #Default Value: 134217720 Range: 4096 to 18446744073709547520 
myisam_max_sort_file_size = 10G     #Default Value - 64 bit: 9223372036854775807 
myisam_repair_threads = 1
myisam_recover
myisam-recover-options=FORCE,BACKUP
event_scheduler=1

#********** End MyISAM **********
# *********** INNODB Specific options *************
innodb_file_format = Barracuda			  #Barracuda, Antelope 
innodb_file_per_table = 1 
innodb_data_home_dir = /var/lib/mysql/
innodb_log_group_home_dir = /var/lib/mysql/
innodb_data_file_path = ibdata1:10M:autoextend:max:10G
innodb_buffer_pool_instances = 6
innodb_buffer_pool_size = 8G        #XtraDB/InnoDB tables, can be set up to 80% of the total memory.
innodb_strict_mode=0
                                        #Range: 5242880 (5MB) to 9223372036854775807 (8192PB) 
innodb_write_io_threads = 64                #Default Value: 4 Range: 1 to 64 
innodb_read_io_threads = 64                 #Default Value: 4 Range: 1 to 64 
innodb_thread_concurrency = 0      #A setting of 0, the default, permits as many threads as necessary
innodb_flush_log_at_trx_commit = 0          #Default Value: 1 Valid Values: 0, 1, 2 or 3
innodb_log_buffer_size = 4096M ###256M      #Default Value: 16777216 (16MB) Range: (256KB to 4096MB) 
innodb_log_file_size = 4096M ###1024M       #Default Value: 50331648 (48MB) Range: (1MB to 4096MB) 
innodb_log_files_in_group = 3               #Default Value: 2 Range: 1 to 100
innodb_max_dirty_pages_pct = 90             #Default Value: 75 Range: 0 to 99.999
innodb_lock_wait_timeout = 150              #Default Value: 50 1 to 1073741824
innodb_doublewrite = 0                      #Default ON
innodb_flush_method = O_DIRECT              #Default Value: Not set 
innodb_locks_unsafe_for_binlog = 1          #Default Value: OFF 
innodb_open_files = 1024000               #Range: 10 to 4294967295 
innodb_io_capacity = 1000000           #Default Value: 200 Range: 100 to 18446744073709551615 (264-1)
innodb_old_blocks_time = 1000
innodb_stats_on_metadata = 0
innodb_autoinc_lock_mode=2
innodb-defragment=1
innodb_defragment_n_pages = 32
innodb_defragment_fill_factor = 0.95
innodb_flush_method=O_DIRECT
# ********** End InnoDB **********

##!includedir /etc/my.cnf.d

#########  Default from my-innodb-heavy-4G.cnf#####################

[mysql]
prompt= forweb> \  ## MySQL Prompt
no-auto-rehash

default-character-set=utf8

[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables quick
max_allowed_packet = 1024M



# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

[isamchk]
key_buffer = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M


[mysqlhotcopy]
interactive-timeout

[mysqld_safe]

# Increase the amount of open files allowed per process. Warning: Make
# sure you have set the global system limit high enough! The high value
# is required for a large number of opened tables

open_files_limit = 1024000
malloc-lib = /usr/lib64/libjemalloc.so.1
mysqld_safe --skip-grant-tables

